test/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50235/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:import schemaLocation="http://localhost:50235/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetListExperts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListExpertsResult" nillable="true" type="q1:ArrayOfexperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListCriterionsResult" nillable="true" type="q2:ArrayOfcriterions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListProjectsResult" nillable="true" type="q3:ArrayOfprojects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCurrentExpertises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCurrentExpertisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListCurrentExpertisesResult" nillable="true" type="q4:ArrayOfexpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompletedExpertises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCompletedExpertisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListCompletedExpertisesResult" nillable="true" type="q5:ArrayOfexpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisesCriterions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisesCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListExpertisesCriterionsResult" nillable="true" type="q6:view_expertise_criterios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertiseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertiseReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListExpertiseReportResult" nillable="true" type="q7:view_completed_expertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertiseReportPospelov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertiseReportPospelovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListExpertiseReportPospelovResult" nillable="true" type="q8:view_completed_expertise_pospelov" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisePospelov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisePospelovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetListExpertisePospelovResult" nillable="true" type="q9:view_expertise_pospelov" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetIdExpertResult" nillable="true" type="q10:experts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperisePattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ls_id_projects" nillable="true" type="q11:ArrayOfint" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ls_id_experts" nillable="true" type="q12:ArrayOfint" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dc_weight_criteries" nillable="true" type="q13:ArrayOfKeyValueOfintfloat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperisePatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExperisePatternResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperisePospelov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ls_id_experts" nillable="true" type="q14:ArrayOfint" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ls_fac" nillable="true" type="q15:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperisePospelovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExperisePospelovResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="second_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accses" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExpertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriterion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriterionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCriterionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="id_criterion" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMarkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResultExpertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatusExpertiseExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatusExpertiseExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStatusExpertiseExpertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatusExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatusExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStatusExpertiseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarkPospelov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dic_ribs_val" nillable="true" type="q16:ArrayOfKeyValueOfintfloat" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dic_facs_val" nillable="true" type="q17:ArrayOfKeyValueOfintfloat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarkPospelovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMarkPospelovResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultMarkPospelov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultMarkPospelovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResultMarkPospelovResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCriterion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_criterion" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCriterionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCriterionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="second_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accses" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditExpertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>